
<div id="oprah_carrier">
  <img id="oprahized" src="<%= animation_url(@animation)%>"/>
  <form name="generator" id="generator" method="post">
    <p>
      <input id="say" type="text" name="say" maxlength="20" placeholder="Oprahize this text"/>
    </p>
    <input type="submit" value="generate" />
  </form>
</div>


